.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;

  .app-name {
    font-size: 40px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
  }

  a {
    text-decoration: none;
    color: $c-white;
    font-size: 20px;
  }
}