// EXAMPLE !!
$c-white: #ffffff;

$c-black: #161616;
$c-black-2: #202020;
$c-black-3: #444444;
$c-black-4: #363636;

$c-yellow: #FFFCB7;

$c-blue: #CAFEFF;

$c-green: #8ef17a;

$c-page-bg: $c-black;
$c-card-bg: $c-black-2;
$c-card-border: $c-black-3;

$c-todo-column: $c-yellow;
$c-in-progress-column: $c-blue;
$c-done-column: $c-green;